* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header {
    min-height: 100vh;
    position: relative;
    display: grid;
    place-items: center;
}
.video-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;/*whit this we can cover all the monitor*/
    z-index: -2;
}
/*button--------------------------------------------------------------------*/
.switch-btn {
    position: absolute;
    bottom: 7%;
    left: 7%;
    width: 7rem;
    height: 2rem;
    display: flex;
    border-radius: 50px;/*-----------------------*/
    align-items: center;
    justify-content: space-around;
    border: none;
    transition: 0.3s;/*-----------------------*/
    }
    .switch-btn span {
    display: inline-block;
    font-size: 0.85rem;
    cursor: pointer;
    text-transform: capitalize;
    color: #626567;/*-----------------------*/
    }
    .switch {
    position: absolute;
    width: 50%;
    height: 100%;
    top: 0;
    left: 0;
    background: #89CFF0;/*-----------------------*/
    border-radius: 50px;/*-----------------------*/
    margin: 0;
    display: block;
    transition: 0.3s;/*-----------------------*/
  }
  .slide .switch {
    left: 50%;
  }

/*--------------------------------------------------------------------------*/
h1{
    color: #F2F3F4;
    font-size: 60px;;
}

.slider .switch {
    left: 50%;
}

header::after {  /*esto da el sombreado a todo el sitio*/
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    z-index: -1;/*esto te permite superponer capas para poder crear este efecto de sombreado*/

}